body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    padding: 2rem;
}
.btn{
    width: 10rem;
    height: 10rem;
    background-color: rgb(214, 50, 50);
    color: rgb(250, 250, 250);
    margin-top: 8rem;
    border-radius: 50%;
    font-size: 2rem;

}
.structura{
    border: 0.5rem solid grey;
    border-radius: 3rem;
    width: 60rem;


}
.kaitlentestructura{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
   
}
.circle{
    width: 10rem;
    height: 10rem;
    margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(254, 254, 254);
    background-color: rgb(182, 176, 176);
    border-radius: 50%;
    justify-self:center;
    align-items: center;
    text-align: center;
    transition: all 5s;
    
}


.mygtukastructura{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.vkl{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-top: 5rem;
    font-weight: 800;
    font-size: 2rem;
    width: 4rem;
    height: 8rem;
    border-radius: 50%;
    background-color: rgb(139, 154, 139);
    cursor: pointer;
    transition: all 1s;
  
    
}
.mygtukastructura>.vkl.active{
    background-color: rgb(36, 37, 37);
    transform: rotate(45deg);
}
.mygtukastructura .vkl:hover {
    background-color: #aaa;
}
.kaitlentestructura>.circle.active{
    background-color: #f00;
    transition: all 2s;
}

